<h3><%= @searchresults.stations.count %> Results</h3>

<% @searchresults.stations.each do |station| class: "station"%>
  <ul>
    <li><%= station.name %></li>
    <li><%= station.address %></li>
    <li><%= station.name %></li>
    <li><%= station.name %></li>
    <li><%= station.name %></li>
  </ul>
